.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  max-width: 582px;
  width: 90%;
}
.form-group,
.name-input-wrapper {
  display: flex;
  flex-direction: column;
}
.Name-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name-input-wrapper {
  flex: 1;
}
.name-input-wrapper + .name-input-wrapper {
  margin-left: 12px;
}
.btn-wrapper  {
  flex: 1;
}
.btn-wrapper button {
  width: 100%;
}






.submit-status {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.error-status {
  color: red;
}

.success {
  color: darkgreen;
}
/* form.css */

.loading-icon {
  animation: spin 1s linear infinite;
}

/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  .name-input-wrapper + .name-input-wrapper {
    margin-left: 0;
  }
}
