/* Apply default box-sizing, padding, and margin to all elements */
*, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 100%;
  font-family: "Inter", sans-serif;
}
/* Styles for the App component */
/* Center the App content vertically and horizontally */
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  width: 100%;
  background-color: #e0f1e7;
  padding: 1rem 0;
}